.button {
    border: none;
    cursor: pointer;

    transition: background-color 250ms ease-out;
}

.button.outline {
    color: var(--primary-800);
    background-color: transparent;
    border: 1px solid var(--primary-800);
}

.button.filled {
    color: var(--primary-200);
    background-color: var(--primary-800);
    border: 1.5px solid var(--primary-800);
}


.button.white {
    color: var(--primary-200);
    background-color: transparent;
    border: 1.5px solid var(--primary-200);
}

.button.outline:hover {
    color: var(--primary-200);
    background-color: var(--primary-800);
}

.button.filled:hover {
    font-weight: bold;
    color: var(--primary-800);
    background-color: var(--primary-200);
}


.button.white:hover {
    font-weight: bold;
    color: var(--primary-800);
    background-color: var(--primary-200);
}