.brown {
    background-color: var(--primary-800);
}

.lightbrown {
    background-color: var(--primary-600);
}

.white {
    background-color: var(--primary-200);
}

.table {
    border-collapse: separate;
    border-spacing: 0.5em;
    overflow-x: auto;
}

.card {
    flex: 1;
    border-radius: 2em;
    box-shadow: 0 0 0.35em var(--clr-grey);
    cursor: pointer;
}

.card.hoverable:hover {
    background: #ddd;
}

.card:hover {
    box-shadow:
        0 0 0 0.25em var(--primary-200),
        0 0 0.25em var(--clr-grey),
        0 0 0.25em 0.5em var(--primary-800);
}