.header {
    grid-template-columns: max-content 1fr;
    cursor: pointer;
    position: relative;
}

.back {
    position: absolute;
    border: 2px solid var(--primary-600);
    border-radius: 0.25em;
    inset-block: 5px;
    width: 4.5ch;
    background-color: inherit;
}

.logout {
    cursor: not-allowed;
}