.modal {
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    animation: showModalContainer 250ms ease-out forwards;
}

.body {
    max-height: 95vh;
    overflow-y: auto;
    width: min(85%, 60ch);
    padding: 1.25em 0.5em;
    border-radius: 0.5em;
    background-color: var(--primary-800);
    text-align: center;
    transform: scaleY(0);
    transform-origin: top;
    animation: showModal 300ms ease-in-out 150ms forwards;
}

.hide {
    &.modal {
        animation: hideModalContainer 500ms ease-out forwards;
    }

    & .body {
        animation: hideModal 250ms ease-in-out forwards;
    }
}

@keyframes hideModal {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes showModal {
    to {
        transform: scaleY(1);
    }
}

@keyframes hideModalContainer {

    0%,
    50% {
        background-color: #0008;
    }

    100% {
        background-color: #0000;
    }
}

@keyframes showModalContainer {
    to {
        background-color: #0008;
    }
}

.loader {
    height: 150px;
    max-width: 400px;
    align-content: flex-end;
    justify-content: space-evenly;
}

.ball {
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-200);
    animation: bounce 400ms ease-in-out alternate infinite;

    &:nth-child(2) {
        animation-delay: 100ms;
    }

    &:nth-child(3) {
        animation-delay: 200ms;
    }

    &:nth-child(4) {
        animation-delay: 300ms;
    }
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }

    to {
        transform: translateY(-50px) scaleX(1);
    }
}