.step {
    grid-column: 1;
    grid-row: 1;
    transform: scaleX(0);
    opacity: 0;
    height: 0;
    transition: transform 750ms ease-out 500ms;

    &.fade {
        transform-origin: left;
        transition: transform 750ms ease-out 500ms, opacity 600ms 600ms, height 0ms 1250ms;
    }

    &.active {
        transform: scaleX(1);
        opacity: 1;
        height: max-content;
        transform-origin: right;
    }
}

.order_img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 70px;
    border-radius: 50%;
}

.image {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
    width: clamp(200px, 85%, 350px);
    box-shadow: 0 0.25em 0.75em 0.15em var(--primary-800);
}

.counter {
    & button {
        font-size: 18px;
        font-weight: bold;
        aspect-ratio: 1;
        width: 2em;
        padding: 0;

        &:disabled {
            color: var(--clr-grey);
            border-color: var(--clr-grey);
        }
    }
}