.plate {
    max-width: 270px;
    min-width: 210px;
    width: clamp(210px, 30vw, 270px);
    position: relative;
}

.image {
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1;
    box-shadow: 0 0 0.5em var(--clr-grey);
    object-fit: cover;
}

.description {
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.plate:hover .description {
    overflow: visible;
    -webkit-line-clamp: unset;
}

.price {
    position: relative;
    width: 85%;
    z-index: 10;
    justify-self: end;
    justify-self: flex-end;
}

.plate:hover .price {
    color: var(--clr-black);
    font-weight: 800;
}

.price::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 1.5px solid var(--primary-800);
    background-color: var(--primary-800);
    z-index: -1;
    border-radius: 2em;
}

.plate:hover .price::after {
    background-color: #ddd;
}